# 2장

## library

In [1]:
library(randomForest)

randomForest 4.6-14

Type rfNews() to see new features/changes/bug fixes.

## 데이터 타입
- 타입별 특징/생성법/관련함수 정리  
- 타입 판별/타입변환

### 1. 타입별 특징 / 생성법/ 관련함수 정리
- 스칼라
- 벡터
- 리스트
- 행렬
- 배열
- 데이터 프레임

- 스칼라
> 단일 차원의 값. 스칼라 데이터는 길이가 1인 벡터 ( 즉, 길이가 1인 배열) eg)1,2,3.... 
> 숫자, 문자, na, null, boolean
> factor ( 범주형 자료 : 명목형 / 순서형 )  <> numeric 수치형데이터

In [3]:
one = 1
print(one)
four = NA
print(is.na(four))
two = NULL
print(is.null(two))
print(is.na(two))

[1] 1
[1] TRUE
[1] TRUE
logical(0)

> na와 NULL는 구분해서 사용해야 한다. : na는 결측치 // NULL은 미정

In [ ]:
three = 'three'
five = FALSE
print(three)
print(five)

In [6]:
sex =  factor("m", c("m", "f"))
print(sex)
print(nlevels(sex))
levels(sex)
factor(c("m", "m", "f"), c("m", "f"))
ordered("a", c("a", "b", "c"))

[1] m
Levels: m f
[1] 2

[1] "m" "f"

[1] m m f
Levels: m f

[1] a
Levels: a < b < c

- 벡터
> 배열의 개념으로, 한 가지 스칼라 데이터 타입의 데이터를 저장

In [1]:
(x <- c("1", 2, "3"))

[1] "1" "2" "3"

In [11]:
 x = c(1, 3, 4)
names (x) = c("kim", "seo", "park")

In [12]:
(x)
x[1:2]
length(x)
nrow(x)
NROW(x)
x[-1]
x[-2]
x[c(1,3)]

 kim  seo park
   1    3    4

kim seo
  1   3

[1] 3

NULL

[1] 3

 seo park
   3    4

 kim park
   1    4

 kim park
   1    4

In [17]:
seq(1,10,2)
rep(1:2,each=5,times=2)

[1] 1 3 5 7 9

 [1] 1 1 1 1 1 2 2 2 2 2 1 1 1 1 1 2 2 2 2 2

- 리스트
>

In [18]:
(x = list(name='foo',height=70))

$name
[1] "foo"

$height
[1] 70

In [22]:
x =list(name='foo', height=c(1,3,5))
x

$name
[1] "foo"

$height
[1] 1 3 5

In [25]:
x$name
x$height
x[1]
x[2]

[1] "foo"

[1] 1 3 5

$name
[1] "foo"

$height
[1] 1 3 5

- 행렬
>

In [26]:
x = matrix(1:9,nrow=3,dimnames=list(c("r1","r2","r3"),c("c1","c2","c3")))
x

   c1 c2 c3
r1 1  4  7
r2 2  5  8
r3 3  6  9

In [27]:
x+1

   c1 c2 c3
r1 2  5   8
r2 3  6   9
r3 4  7  10

In [30]:
y=matrix(1:9,nrow=3)
x+y
x%*%y

   c1 c2 c3
r1 2   8 14
r2 4  10 16
r3 6  12 18

   [,1] [,2] [,3]
r1 30   66   102
r2 36   81   126
r3 42   96   150

In [34]:
t(x)
nrow(x)
dim(x)

   r1 r2 r3
c1 1  2  3
c2 4  5  6
c3 7  8  9

[1] 3

[1] 3 3

- 배열
>

In [35]:
array(1:12, dim=c(3, 4))

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [39]:
x=array(1:12,dim=c(2,2,3))
x

, , 1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 2

     [,1] [,2]
[1,]    5    7
[2,]    6    8

, , 3

     [,1] [,2]
[1,]    9   11
[2,]   10   12

In [46]:
x[,,3]
x[1,1,]
dim(x)

     [,1] [,2]
[1,]  9   11
[2,] 10   12

[1] 1 5 9

[1] 2 2 3

- 데이터프레임
>

In [49]:
(d <- data.frame(x=c(1, 2, 3, 4, 5), y=c(2, 4, 6, 8, 10), z=c('M', 'F', 'M', 'F', 'M')))

  x y  z
1 1  2 M
2 2  4 F
3 3  6 M
4 4  8 F
5 5 10 M

In [60]:
d$x

[1] 1 2 3 4 5

In [61]:
d[,1]

[1] 1 2 3 4 5

In [65]:
d[,1,drop=FALSE]

  x
1 1
2 2
3 3
4 4
5 5

In [62]:
d[1,]

  x y z
1 1 2 M

In [63]:
d[c(1, 3), 2]

[1] 2 6

In [59]:
d[, c("x", "z")]

  x z
1 1 M
2 2 F
3 3 M
4 4 F
5 5 M

In [64]:
str(d)

'data.frame':	5 obs. of  3 variables:
 $ x: num  1 2 3 4 5
 $ y: num  2 4 6 8 10
 $ z: chr  "M" "F" "M" "F" ...

### 데이터 타입 판별
|함수|의미|
|-|-|
|class(x)|객체 x의 클래스|
|str(x)|x의 내부구조|
|is 시리즈|.factor(x),numeric,character,matrix,array,data.frame|

### 타입 변환
|함수|의미|
|-|-|
|as 시리즈|.factor(x),numeric,character,matrix,array,data.frame|

  
  
# 3장

## 흐름제어

### if문

In [66]:
x =c(1:5)
ifelse(x%%2 == 0, "even","odd")

[1] "odd"  "even" "odd"  "even" "odd"

### for, while, repeat 문

In [67]:
for (i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [69]:
i =1 
while(i<=10){
    print(i)
    i=i+1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [70]:
i=1
repeat{
    print(i)
    if(i>=10){
        break;
    }
    i = i+1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

## 연산
- 수치연산
- 벡터연산
- NA처리

### 수치연산
|연산자와함수|의미|
|-|-|
|+ - * /| 사칙연산|
|n %% m|n을 m으로 나눈 나머지|
|n%/%m|n을m으로 나눈 몫|
|n^m|n의 m승|
|exp(n)|e의n승|

In [72]:
1:5 *2 +1

[1]  3  5  7  9 11

### 벡터연산

In [73]:
x <- c(1, 2, 3, 4, 5)

In [74]:
x+x

[1]  2  4  6  8 10

In [75]:
x == x

[1] TRUE TRUE TRUE TRUE TRUE

In [76]:
x == c(1,2,3,5,5)

[1]  TRUE  TRUE  TRUE FALSE  TRUE

In [77]:
sum(x)

[1] 15

In [78]:
mean(x)

[1] 3

In [79]:
median(x)

[1] 3

In [82]:
d <- data.frame(x=c(1, 2, 3, 4, 5), y=c("a", "b", "c", "d", "e"))
d[c(TRUE,TRUE,FALSE,FALSE,TRUE),]

  x y
1 1 a
2 2 b
5 5 e

### NA의 처리
|함수|의미|
|-|-|
|na.omit|NA가 있으면 제외|
|na.pass|NA가 있어도 통과|

In [83]:
NA & TRUE
NA +1

[1] NA

[1] NA

In [84]:
sum(c(1, 2, 3, NA))
sum(c(1, 2, 3, NA),na.rm=TRUE)

[1] NA

[1] 6

In [85]:
x <- data.frame(a=c(1, 2, 3), b=c("a", NA , "c"), c=c("a", "b", NA))

In [88]:
x

  a b  c
1 1 a  a
2 2 NA b
3 3 c  NA

In [86]:
na.omit(x)

  a b c
1 1 a a

In [87]:
na.pass(x)

  a b  c
1 1 a  a
2 2 NA b
3 3 c  NA

#### 라이브러리 공부

- plyr
> 데이터 분할, 적용, 조합, 세 단계로 데이터를 처리하는 함수 제공
> 배열, 데이터프레임, 리스트에 적용

adply() : apply()와 동일하지만, apply()는 `벡터`를 리턴 / adply()는 `데이터프레임`으로 리턴

In [94]:
library(plyr)
library(googleVis)

In [92]:
apply(Fruits[,4:6],2,sum)

   Sales Expenses   Profit
     845      710      135

In [95]:
adply(Fruits[,4:6],2,sum)

  X1       V1
1 Sales    845
2 Expenses 710
3 Profit   135

**ddply()** : 그룹연산에서 아주 많이 사용  
> 데이터 프레임을 input으로 데이터 프레임을 output해주는 함수
> 분할, 적용, 조합을 수행하여 그룹별 연산을 사용하기 위한 용도 ,tapply(),agrregate()와 유사

In [96]:
# 년도별 sales 평균
ddply(Fruits,.(Year),transform,average=mean(Sales))

  Fruit   Year Location Sales Expenses Profit Date       average
1 Apples  2008 West      98   78       20     2008-12-31 93.00000
2 Oranges 2008 East      96   81       15     2008-12-31 93.00000
3 Bananas 2008 East      85   76        9     2008-12-31 93.00000
4 Apples  2009 West     111   79       32     2009-12-31 99.33333
5 Oranges 2009 East      93   80       13     2009-12-31 99.33333
6 Bananas 2009 East      94   78       16     2009-12-31 99.33333
7 Apples  2010 West      89   76       13     2010-12-31 89.33333
8 Oranges 2010 East      98   91        7     2010-12-31 89.33333
9 Bananas 2010 East      81   71       10     2010-12-31 89.33333

In [97]:
# 과일 종류별 Sales 평균
ddply(Fruits,.(Fruit),transform,average=mean(Sales))

  Fruit   Year Location Sales Expenses Profit Date       average
1 Apples  2008 West      98   78       20     2008-12-31 99.33333
2 Apples  2009 West     111   79       32     2009-12-31 99.33333
3 Apples  2010 West      89   76       13     2010-12-31 99.33333
4 Bananas 2008 East      85   76        9     2008-12-31 86.66667
5 Bananas 2009 East      94   78       16     2009-12-31 86.66667
6 Bananas 2010 East      81   71       10     2010-12-31 86.66667
7 Oranges 2008 East      96   81       15     2008-12-31 95.66667
8 Oranges 2009 East      93   80       13     2009-12-31 95.66667
9 Oranges 2010 East      98   91        7     2010-12-31 95.66667